/out/
/jar/
/lib/
/build/
/buildSrc/build/
/modules/*/build/
/**/.gradle/
*.*~
/classes/
builds.json
build-number.txt
.c9*
/gen_docs/
.clover/
.idea/workspace.xml
.local.vimrc
.*.swp
modules/Test/
*.iml
